<div class="row-fluid"> 
    <div class="col-xs-8 col-xs-offset-2" ><h2>Auteurs</h2></div>
 
     <div class="jumbotron col-xs-8 col-xs-offset-2">
        <a href="#/formulaire/addAuteur" class="btn btn-success">Ajouter</a> 
    	<table class="table table-condensed" >
         <tr>
             <th>Nom</th>
             <th>Prenom</th>
             <th>Fonction</th>
             <th>Modifier</th>
             <th>Supprimer</th>
             
         </tr>
         <tr ng-repeat="auteur in auteurs">
             <td>{{auteur.nom}}</td>
             <td>{{auteur.prenom}}</td>
             <td>{{auteur.fonction}}</td>
             <td> <a href="#/formulaire/{{auteur.id_auteur}}" class="btn btn-warning">
                     modifier
                  </a>
             </td>
             <td><input type="submit" ng-click="deleteAuteur(auteur.id_auteur)" name="" value="supprimer"  class="btn btn-danger"></td>
             <td> <a ng-href="#/auteur/{{auteur.id_auteur}}" class="btn btn-danger"> 
                 voir
                 </a>
             </td>

         </tr> 
      </table>
  </div>
</div>		
		
